<main>

    <section id="section-login">
        <div class="container">
            <h2>Login</h2>
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input name="usuario" class="form-control" required type="text" [(ngModel)]="usuario">
                    <div id="emailHelp" class="form-text">Nunca compartilharemos seu e-mail com mais ninguém.
                    </div>

                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input name="password" class="form-control" type="password" [(ngModel)]="senha">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check
                            -label" for="exampleCheck1">Check me out</label>
                </div>
                <a routerLink=""> <button id="bt-confirmar" type="submit" (click)="fazerLogin()"
                        class="btn btn-primary">Login</button></a>
            </form>
        </div>
    </section>
</main>